html {
  color:ghostwhite;
}
body {
  /* Old browsers */
  background: #141E30;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(-45deg, #35577D, #141E30);
  margin: 0;
  padding: 0;
}
h1 {

  color: #FFF !important;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
h1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
p{
  border: dashed;
  border-color:teal;
}

p {
 font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:orange;
  
}

